<!--
  Name: Rutvik Patel(18 Aug 2016)
   Student Number: 200305366
    File Description: Index To show all the list of Artists  -->

@model IEnumerable<COMP2006_S2016_FinalExamV21.Models.Artist>

@{
    ViewBag.Title = "Artist";
}

<h2>Artist</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
    </tr>
}

</table>
